<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editdata" method="post">
  <input type="hidden" name="id" value="<%= update._id %>">
  <input type="text" name="bookname" value="<%= update.bookname %>">
  <input type="text" name="author" value="<%= update.author %>">
  <input type="text" name="category" value="<%= update.category %>">
  <input type="number" name="price" value="<%= update.price %>">
  <input type="submit" value="Update Book">
</form>

</body>
</html>